<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <h1>Course Tree Generator</h1>
    <p>Tired of inefficient course planning? <br>
        Course Tree Generator allows you to visualize your academic path <br>
        quickly, meaningfully, and concisely with a click of a button. <br>
        login with your student ID and try it out!</p>

    <br><br>
    <h2>login</h2>
</head>
<body>
    <form method="POST" action="">
        Student ID: <input type="text" name="sid" />
        <input type="submit" >
    </form>
</body>
</html>